main{
    width: 960px;
    margin: 0 auto 0 auto;
    color: gray;
}
header{
    background-color: gray;
    padding-left: 280px;
    margin-bottom: 30px;
}
nav{
display: inline-block;
width: 755px;
}
ul{
    width: 100%;
    overflow: auto;
}
li{
float: left;
margin: 0px auto;
padding: 1px 45px 25px 45px;
}
a{
    text-decoration: none;
    font-size: larger;
}

.subAllFloat ,.allFloat {
    width: 100%;
    overflow: auto;
}
.sub1{
    width: 300px;
    height: 375px;
    background-color: black;
    float: left;
    margin: 10px 15px 10px 0px;
}
.sub2{
    width: 300px;
    height: 375px;
    background-color: black;
    float: left;
    margin: 10px 15px 10px 15px;
}
.sub3{
    width: 300px;
    height: 375px;
    background-color: black;
    float: left;
    margin: 10px 0px 10px 15px;
}
.subAllFloat p {
    text-align: center;
    margin-top: 170px;
}
section.section1{
    float: left;
    width: 50%;
    height: 400px;
    background-color: black;
}
section.section2{
    float: left;
    width: 460px;
    height: 380px;
    /* background-color: rebeccapurple; */
    font-style: italic;
    padding: 10px;
    line-height: 20px;
}
h3{
    font-style: normal;
    margin-bottom: 10px;
}
button{
    border-radius: 10px;
    width: 150px;
    height: 60px;
    margin-top: 10px;
}
button:hover{
    background-color: royalblue;
} 
footer{
    /* width: 960px;
    margin: 0 auto 0 auto; */
    background-color: gray;
    height: 100px;
}
.section1 p{
    margin-top: 170px;
    text-align: center;
}
.section2 p{
    overflow: hidden;
    height: 250px;
}